@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* MUTED COLORS */
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --lighter-gray: #eaeaea;
  --light-gray: #dedede;
  --gray: #b4b4b4;
  --grayish: #676767;
  --dark-gray: #434343;
  --black: #1d1d1f;

  /* COLORS */
  --green: #288d52;
  --red: #be3939;
  --yellow: #f5c518;
  --orange: #fc6e51;
  --teal: #19807b;
  --transparent-teal: rgba(25, 128, 123, 0.5);
  --blue: #0071e3;
  --light-blue: #00a0e3;
  --purple: #ac92ec;
  --pink: #f7a8b8;
  --transparent: transparent;
  --darkened-background: rgba(0, 0, 0, 0.5);
  --dark-shadow: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 0, 0, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.1);

  /* FONTS */
  --font-family: "Montserrat", sans-serif;
  /* FONT SIZES */
  --font-size-title: 4rem;
  --font-size-subtitle: 1.3rem;
  --font-size-text: 1.1rem;
  --font-size-small: 0.9rem;
  --font-size-email: 2rem;
  --font-size-faq: 1.7rem;
  /* FONT WEIGHTS */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* BORDER RADIUS */
  --border-radius-button: 10rem;
  --border-radius-input: 1rem;

  /* TRANSITIONS */
  --fast-transition: 0.1s;
  --transition: 0.2s;
  --loading-transition: 1s;
  --slow-transition: 0.5s;

  /* TEXT SPACING */
  --line-height: 1.5;
  --letter-spacing: 0.02em;
}

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--whitesmoke);
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--black);
}

button {
  border-radius: var(--border-radius-button);
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  transition: var(--transition);
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

a,
a:visited {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px var(--shadow);
  border-radius: var(--border-radius-input);
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  transition: var(--transition);
}

input:focus-visible {
  box-shadow: 0 0 0 0.2rem var(--transparent-teal);
}

textarea {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px var(--shadow);
  border-radius: var(--border-radius-input);
  padding: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  transition: var(--transition);
}

textarea:focus-visible {
  box-shadow: 0 0 0 0.2rem var(--transparent-teal);
}

/* COOKIES */
#cookies {
  width: auto;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: -6rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

#cookies p {
  width: 500px;
  font-weight: var(--font-weight-light);
  color: var(--black);
}

#cookies button {
  padding: 0.5rem 1.5rem;
  color: var(--white);
  background-color: var(--teal);
}

/* MEDIA QUERIES */

@media (width < 1200px) {
}

@media (width < 1100px) and (height < 700px) {
}

@media (width < 800px) {
  #cookies {
    width: 93%;
    min-height: 40px;
    height: auto;
    padding: 1rem 1rem;
    gap: 1.5rem;
  }

  #cookies p {
    font-size: 0.9rem;
  }

  #cookies button {
    min-width: 100px;
    height: 30px;
    font-size: 0.9rem;
  }
}
