/* CONTAINER 1 */
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.naming {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.naming img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.naming h1 {
  font-size: 2.5rem;
}

.naming input {
  margin-bottom: 2rem;
}

.naming button {
  padding: 1rem 2.5rem;
  background-color: var(--teal);
  color: var(--white);
}

#highscoresLink {
  display: none;
  font-size: 0.8rem;
  color: var(--gray);
}

/* CONTAINER 2 */
#container2 {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
}

.nav h1 {
  color: var(--white);
  font-weight: var(--font-weight-extra-light);
  font-size: 2rem;
}

#highscoresButton {
  display: none;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  color: var(--light-gray);
  background-color: var(--shadow);
  right: 0;
  margin-right: 1rem;
}

.sub-nav {
  width: 100%;
  padding: 0.3rem 0;
  display: grid;
  place-items: center;
  background-color: var(--selection);
}

.sub-nav h2 {
  color: var(--black);
  font-weight: var(--font-weight-light);
  font-size: 0.9rem;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.categories button {
  width: 120px;
  height: 120px;
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--selection);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.categories button:hover {
  background-color: var(--white);
  box-shadow: 0 0.4rem 0.8rem 0.2rem var(--light-shadow);
}

.categories button img {
  width: 35px;
  height: 35px;
}

.categories button p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--black);
}

/* CONTAINER 3 */
#container3 {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav2 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
}

.nav2 h1 {
  color: var(--white);
  font-weight: var(--font-weight-light);
  font-size: 2rem;
}

.time-bar {
  width: 100%;
  height: 20px;
  position: relative;
  background-color: var(--light-teal);
}

#timer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.time-bar-child {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: ease-in infinite;
  animation-name: fillBar;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  background-color: var(--light-teal);
}

@keyframes fillBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.helpFromPublic {
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
}

.helpFromPublic h1 {
  font-weight: var(--font-weight-light);
  font-size: 1.5rem;
  color: var(--teal);
}

.score {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score h1:first-child {
  font-weight: var(--font-weight-light);
  color: var(--gray);
  font-size: 1.2rem;
}

.score h1 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 2rem;
  text-align: center;
}

.question {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.question h1 {
  font-weight: 200;
  font-size: 1.7rem;
  text-align: center;
}

#answerbuttons {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

#answerbuttons button {
  position: relative;
  display: none;
  background-color: var(--white);
  color: var(--teal);
  min-width: 120px;
  height: 50px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.2rem 0.4rem 0rem var(--light-shadow);
}

#answerbuttons button:hover {
  box-shadow: 0 0.4rem 0.6rem 0.2rem var(--light-shadow);
}

.helpBtn {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.helpBtn button {
  position: relative;
  width: 100px;
  height: 60px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-teal);
  color: var(--whitesmoke);
  font-size: 0.9rem;
  font-weight: var(--font-weight-medium);
}

.helpBtn button:disabled {
  background-color: var(--dark-teal);
  color: var(--light-gray);
  cursor: not-allowed;
}

/* CONTAINER 4 */
#container4 {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav3 {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  background-color: var(--teal);
}

.nav3 h1 {
  color: whitesmoke;
  font-weight: 200;
  font-size: 6vh;
}

#backButton {
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  color: var(--light-gray);
  background-color: var(--shadow);
  left: 0;
  margin-left: 1rem;
}

.highscoresTable {
  margin-top: 3vh;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgba(0, 128, 128, 0.089);
  border-radius: 2vh;
}

.caps {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 128, 128, 0.26);
  overflow: hidden;
}

.caps h1 {
  color: teal;
  padding: 3vh;
  /* font */
  font-size: 4vh;
  font-weight: 200;
}

.caps h1 {
  margin-left: 3vw;
}

.caps2 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.caps2 h2 {
  color: teal;
  /* font */
  font-size: 3vh;
  font-weight: 200;
}

.backButton {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
